Language: Cpp
Standard: c++17
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
UseTab: Never
SortIncludes: Never
DerivePointerAlignment: false
PointerAlignment: Left
Cpp11BracedListStyle: false
BreakBeforeBraces: Allman
SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SeparateDefinitionBlocks: Always
AlignEscapedNewlines: Left
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: None 
AlignConsecutiveAssignments: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All 
AlwaysBreakTemplateDeclarations: Yes
AllowShortLambdasOnASingleLine: Inline
NamespaceIndentation: None
LambdaBodyIndentation: OuterScope
IndentPPDirectives: AfterHash
ShortNamespaceLines: 1
FixNamespaceComments: true
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: true